body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

h1 , button{
  color: #30595F;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

h2{
  font-size: 22px;
}

p{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.partOne{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.blockOne{
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockOne img {
  position:absolute;
  z-index: -100;
  width: 400px;
}

.blockTwo{
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-top: 5rem;
}

.blockTwo img {
  z-index: -100;
  width: 40%;
  height: auto;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.10));
}

@media only screen and (max-width: 768px){

  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1{
    font-size: 32px;
  }

  p, span{
    font-size: 14px;
  }

  .blockOne{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    padding-left: 5%;
  }
  
  .blockOne img {
    position:absolute;
    z-index: -100;
    width: 90%;
    padding-left: 5%;
  }

  .blockTwo{
    display: flex;
    flex-direction: column-reverse;
    justify-content:space-around;
    align-items: center;
    width: 90%;
    padding-left: 5%;
    margin-top: 5rem;
  }
  
  .blockTwo img {
    width: 90%;
    height: auto;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.10));
  }

  .partOne {
    display: flex;
    flex-direction: column;
    width: 100%;
}
}
