body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 , button{
  color: #30595F;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

p{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.blockOne{
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockOne img {
  position:absolute;
  z-index: -100;
  width: 400px;
}

.blockTwo{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.blockTwo img {
  z-index: -100;
  width: 40%;
  height: auto;
}

@media only screen and (max-width: 425px){

  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1{
    font-size: 32px;
  }

  p, span{
    font-size: 14px;
  }

  .blockOne{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
  }
  
  .blockOne img {
    position:absolute;
    z-index: -100;
    width: 400px;
  }

  .blockTwo{
    display: flex;
    flex-direction: column-reverse;
    justify-content:space-between;
    align-items: flex-start;
    padding: 2rem;
  }
  
  .blockTwo img {
    width: 380px;
    height: auto;
  }
}
